footer {
  text-align: center; /* align child divs vertical */
}

footer,
main {
  line-height: 0.5;
}

.fa {
  padding: 20px;
  width: 50px;
  text-decoration: none;
  color: #fbfbff;
}

.linespacing {
  line-height: 16pt;
}

.social-links {
  background: #121212;
  margin-top: 20px;
}
