.content-container {
  background: transparent;
  margin-top: 20px;
  max-width: 768px;
}

li,
p {
  font-family: "helvetica neue", sans-serif;
  text-align: justify;
  font-size: large;
}

li {
  line-height: 1.5;
}

pre {
  background: #333333;
  border-left: 3px solid grey;
  color: white;
  page-break-inside: avoid;
  font-family: monospace;
  font-size: 15px;
  line-height: 1.6;
  margin-bottom: 1.6em;
  max-width: 100%;
  overflow: auto;
  padding: 1em 1.5em;
  display: block;
  word-wrap: break-word;
}
