.content-container {
  background: transparent;
  margin-top: 20px;
  max-width: 768px;
}

li,
p {
  font-family: "helvetica neue", sans-serif;
  text-align: justify;
  font-size: large;
}

li {
  line-height: 1.5;
}
