* {
  box-sizing: border-box;
}

@font-face {
  font-family: "ocra";
  src: url(ocra.ttf) format("truetype");
}

h1 {
  font-family: "helvetica neue", sans-serif;
  margin-bottom: 60px;
}

body {
  margin: 0;
  background: #9ba4a8;
  min-height: 100vh;
}

footer,
main {
  font-family: "ocra", sans-serif;
  padding: 2em;
  line-height: 0.5;
}

main {
  min-height: 85vh;
  color: #fbfbff;
}

footer {
  text-align: center; /* align child divs vertical */
}

.link {
  font-family: "ocra", sans-serif;
  color: #fbfbff;
  transition: font-size 300ms ease-in-out; /* hover animation */
}

.link:hover {
  font-size: 120%;
}

.fa {
  padding: 20px;
  width: 50px;
  text-decoration: none;
  color: #fbfbff;
}

.linespacing {
  line-height: 16pt;
}

.social-links {
  background: #9ba4a8;
  margin-top: 20px;
}
